<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Appointment.Entities.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Appointment.Entities.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Appointment.Entities.BLL.Properties.Settings.AppointmentConnectionString"
            connectionString="Data Source=SAFWAT\SAFWAT;Initial Catalog=Appointment;User ID=sa;Password=p@ssw0rd" />
        <add name="Appointment.Entities.BLL.Properties.Settings.AppointmentConnectionString1"
            connectionString="Data Source=SAFWAT\SAFWAT;Initial Catalog=Appointment;User ID=sa;Password=p@ssw0rd" />
        <add name="Appointment.Entities.BLL.Properties.Settings.AppointmentConnectionString2"
            connectionString="Data Source=SAFWAT\SAFWAT;Initial Catalog=Appointment;User ID=sa" />
    </connectionStrings>
    <userSettings>
        <Appointment.Entities.BLL.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoctorID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CinicID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BranchID" serializeAs="String">
                <value>0</value>
            </setting>
        </Appointment.Entities.BLL.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Appointment.Entities.BLL.Properties.Settings>
            <setting name="Appointment_Haad_Webservices" serializeAs="String">
                <value>https://shafafiya.haad.ae/v2/webservices.asmx</value>
            </setting>
            <setting name="Appointment_AppointmentService1_FeesList" serializeAs="String">
                <value>http://localhost:56787/Invoices/FeesList.asmx</value>
            </setting>
        </Appointment.Entities.BLL.Properties.Settings>
    </applicationSettings>
</configuration>